<table>
	<thead>
		<tr>
			<th>Name</th>
			<th style="width: 75%">Palettes</th>
			<th>Hue</th>
		</tr>
	</thead>
	<tbody>
		{% for hue, info in hues %}
		{% if info.palette_count > 1 %}
			<tr>
				<th>
					<a href="{{ page | relative }}/hues/{{ hue }}/">{{ info.name }}</a>
					<small>{{ info.type }}</small>
				</th>
				<td>
					{{ (info.palettes | objectKeys).length }}
					<color-scale class="compact" colors="{{ info.examples | serializeObject }}"></color-scale>
				</td>
				<td>{{ info.hue.mean | number }}
				<small>{{ info.hue.min | number }} &ndash; {{ info.hue.max | number }}</small>
				<small>σ = {{ info.hue.stddev | number({maximumFractionDigits: 1}) }}</small>
				</td>
			</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>