<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Palettes</th>
			<th>Hue mean</th>
			<th>Hue extent</th>
		</tr>
	</thead>
	<tbody>
		{% for hue, info in hues %}
			<tr>
				<th><a href="{{ page | relative }}/hues/{{ hue }}/">{{ info.name }}</a></th>
				<td>{{ info.type }}</td>
				<td>{{ (info.palettes | objectKeys).length }}</td>
				<td>{{ info.hue.mean | number }}</td>
				<td>{{ info.hue.min | number }} &ndash; {{ info.hue.max | number }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>