<table>
	<thead>
		<tr>
			<th>Name</th>
			<th style="width: 75%">Palettes</th>
			<th>Hues</th>
		</tr>
	</thead>
	<tbody>
		{% for hue, info in hues %}
		{% if info.palette_count > 1 %}
			<tr>
				<th>
					<a href="{{ page | relative }}/hues/{{ hue }}/">{{ info.name }}</a>
					<small>{{ info.type }}</small>
				</th>
				<td>
					{{ (info.palettes | keys).length }}
					<color-scale class="compact" colors="{{ info.accents | serializeObject }}"></color-scale>
				</td>
				<td>
					<span style="white-space: nowrap">
					<strong>{{ info.hue.mean | number({style: 'angle'}) }}</strong>
					{% set range = info.hue.mean - info.hue.min %}
					±{{ range | number({maximumSignificantDigits: 2}) }}
					</span>
					<small>{{ info.hue.min | number({style: 'angle'}) }}
						&ndash;
						{{ info.hue.max | number({style: 'angle'}) }}</small>
					<small>σ = {{ info.hue.stddev | number({maximumSignificantDigits: 2}) }}</small>
				</td>
			</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
