---js
{
	pagination: {
		data: "hues",
		resolve: "values",
		size: 1,
		alias: "hue",
		before: paginationData => paginationData.filter(hue => hue.palette_count > 1)
	},
	permalink: "hues/{{ hue.name }}/index.html",
	eleventyComputed: {
		title: "{{ hue.name }}"
	},
}
---

{# <aside id="toc">
	<ul>
		{% for h in hues %}
			{%- if h.name == hue.name -%}
			<li class="current" aria-label="This page">{{ h.name }}
				<ul>
					{% for palette in hue.palettes %}
					<li><a href="#{{ palette }}">{{ palettes[palette].name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{%- else -%}
			<li><a href="../{{ h.name }}">{{ h.name }}</a></li>
			{%- endif %}
		{% endfor %}
	</ul>
</aside> #}

<h1>{{ hue.name }}</h1>

<h2 id="charts">Charts</h2>
{% for id, coord in ColorSpaces.oklch.coords %}
	<h3>{{ coord.name or id }}</h3>
	<color-chart y="oklch.{{ id }}" info="L: oklch.l, C: oklch.c, H: oklch.h">
		{% for colors in hue.palettes | plotHue -%}
			<color-scale colors="{{ colors | serializeObject }}" info="L: oklch.l, C: oklch.c, H: oklch.h"></color-scale>
		{%- endfor %}
	</color-chart>
{% endfor %}

<h2 id="palettes">Palettes</h2>

<table>
<thead>
	<tr>
		<th>Palette</th>
		<th style="width: 100%">Scale</th>
	</tr>
	<tbody>
		{% for palette_id, colors in hue.palettes %}
			<tr id="{{ palette_id }}">
				<th><a href="../palette/{{ palette_id }}/#{{ hue.name }}">{{ palettes[palette_id].name }}</a></th>
				<td><color-scale colors="{{ colors | serializeObject }}"></color-scale></td>
			</tr>
		{% endfor %}
	</tbody>
</thead>
</table>

