@import url("https://colorjs.io/assets/css/style.css");
@import url("https://colorjs.io/assets/css/docs.css");

a {
	font-weight: bold;
}

table {
	margin-top: 1em;

	small {
		display: block;
		color: hsl(220, 10%, 48%);
		font-style: italic;
		font-weight: normal;
		font-family: var(--font-serif);
	}

	th small {
		text-transform: capitalize;
	}
}

color-scale.compact {
	&::part(color-swatch) {
		font-size: 70%;
	}
}