---
includes: '<link rel="stylesheet" href="../style.css" />'
pagination:
  data: palettes
  resolve: values
  size: 1
  alias: palette
permalink: "palettes/{{ palette.id }}/index.html"
eleventyComputed:
  title: "{{ palette.name }}"
---

<aside id="toc">
	<ul>
		{% for id, p in palettes %}
			{% if p.id -%}
				{%- if p.id == palette.id -%}
				<li class="current" aria-label="This page">{{ p.name }}
					<ul>
						<li><a href="#charts">Charts</a></li>
						<li><a href="#tints">Tints & Shades</a></li>
					</ul>
				</li>
				{%- else -%}
				<li><a href="../{{ p.id }}">{{ p.name }}</a></li>
				{%- endif %}
			{%- endif %}
		{% endfor %}
	</ul>
</aside>

<h1>{{ palette.name }}</h1>

<table>
	<thead>
		<tr>
			<th>Hues</th>
			<th>Neutrals</th>
			<th>Steps</th>
			<th>Levels</th>
			<th>Step</th>
		</tr>
	</thead>
	<tr>
		<td>{{ palette.count.hue }}</td>
		<td>{{ palette.count.neutral }}</td>
		<td>{{ palette.levels.steps | range }}</td>
		<td>{{ palette.levels | range }}</td>
		<td>{{ palette.levels.step | range }}</td>
	</tr>
</table>

<h2 id="charts">Charts</h2>
{% for id, coord in ColorSpaces.oklch.coords %}
	<color-chart y="oklch.{{ id }}" info="L: oklch.l, C: oklch.c, H: oklch.h">
		{% for hue, scale in palette.colors -%}
			<color-scale colors="{{ scale | serializeObject }}" info="L: oklch.l, C: oklch.c, H: oklch.h"></color-scale>
		{%- endfor %}
	</color-chart>
{% endfor %}

<h2 id="tints">Tints & Shades</h2>
<table>
<thead>
	<tr>
		<th>Hue</th>
		<th style="width: 100%">Scale</th>
	</tr>
	<tbody>
		{% for hue, scale in palette.colors %}
			<tr id="{{ hue }}">
				<th>
					{%- if hues[hue].palette_count > 1 -%}
					<a href="../{{ hue }}/">{{ hues[hue].name }}</a>
					{%- else -%}
					{{ hue }}
					{%- endif -%}
					<small>{{ hues[hue].type }}</small>
				</th>
				<td><color-scale colors="{{ scale | serializeObject }}" info="L: lch.l, C: lch.c, H: lch.h"></color-scale></td>
			</tr>
		{% endfor %}
	</tbody>
</thead>
</table>

