{% macro print_range (info) %}
{% if info.values.length > 0 -%}
{{ info.midrange | number }} ± {{ (info.midrange - info.min) | number }}
{%- else -%}
N/A
{%- endif %}
{% endmacro %}


<h1>Hues</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Palettes</th>
			<th>Hue</th>
			<th>Chroma</th>
		</tr>
	</thead>
	<tbody>
		{% for hue, info in hues %}
			<tr>
				<th><a href="./{{ hue }}/">{{ info.name }}</a></th>
				<td>{{ info.type }}</td>
				<td>{{ (info.palettes | objectKeys).length }}</td>
				<td>{{ print_range(info.hue) }}</td>
				<td>{{ print_range(info.chroma) }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

